streamlit==1.46.0
torch
transformers==4.40.0
sentence-transformers
bitsandbytes
accelerate
langchain==0.3.25
langchainhub==0.1.21
langchain-community==0.3.24
langchain-experimental==0.3.4
langchain-core
langchain-chroma==0.2.3
langchain-huggingface==0.2.0
chromadb
python-dotenv==1.1.0
pypdf
