streamlit==1.46.0
transformers==4.40.0
torch
accelerate
sentence-transformers
langchain==0.3.25
langchainhub==0.1.21
langchain-community==0.3.24
langchain-experimental==0.3.4
langchain-core
chromadb==0.4.22
python-dotenv==1.1.0
pypdf
